<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abyssinica+SIL&amp;display=swap">
    <link rel="stylesheet" href="assets/css/NZButtonAddDelete-2.css">
    <link rel="stylesheet" href="assets/css/Pretty-User-List-.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body style="background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('assets/img/bg.jpg');">
    <h1 class="text-center text-white d-none d-lg-block site-heading"><span class="site-heading-lower">ADMIN PAGE</span></h1>
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark py-lg-4" id="mainNav" style="background: rgb(183,198,214);">
        <div class="container"><a class="navbar-brand text-uppercase d-lg-none text-expanded" href="/">Admin</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="assets/img/hacker.jpg">
                <div class="text-center intro-text p-5 rounded bg-faded">
                    <h2 class="text-bg-dark section-heading mb-4"><span class="section-heading-upper">-</span><span class="section-heading-lower">..-</span></h2>
                    <p class="text-bg-dark mb-3">Las acciones de debajo serán imposibles de deshacer.</p>
                    <div class="mx-auto intro-button"><a class="btn btn-primary d-inline-block mx-auto btn-xl" role="button" href="/deleteGarments" onclick="return confirm('¿Seguro que quieres borrar?')">Borrar Prendas</a><a class="btn btn-primary d-inline-block mx-auto btn-xl" role="button" href="/deleteUsers" onclick="return confirm('¿Seguro que quieres borrar?')">Borrar Usuarios</a><a class="btn btn-primary d-inline-block mx-auto btn-xl" role="button" href="/deleteOutfits" onclick="return confirm('¿Seguro que quieres borrar?')">Borrar Outfits</a></div>
                </div>
            </div>
        </div>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bold-and-bright.js"></script>
    <script src="assets/js/button-materialize-materialize.min.js"></script>
</body>

</html>