<!DOCTYPE html>
<html class="text-center" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Team - Brand</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abyssinica+SIL&amp;display=swap">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/hour.css">
    <link rel="stylesheet" href="../assets/css/NZButtonAddDelete-2.css">
    <link rel="stylesheet" href="../assets/css/Pretty-User-List-.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md sticky-top navbar-shrink py-3" id="mainNav" style="background: rgba(235,209,182,255);">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/home"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><a href="index.html"></a>
            <div class="collapse navbar-collapse" id="navcol-1"><a href="/home"><img src="../assets/img/brands/logisho1.jpg" width="215" height="53" /></a>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link active nav-link activate" href="/users"><span style="color: rgb(0, 0, 1);"><span style="font-weight: normal !important;">Usuarios</span></span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="/outfits"><span style="font-weight: normal !important; color: rgb(0, 0, 1);">Outfits</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/garments"><span style="font-weight: normal !important; color: rgb(0, 0, 1);">Prendas</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="../team.html"><span style="font-weight: normal !important; color: rgb(0, 0, 1);">About</span></a></li>
                </ul><a class="btn btn-primary" role="button" href="/login"><svg class="bi bi-person" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                </svg></a>
            </div>
        </div>
    </nav><section class="py-5">
    {{#outfit}}
    <h1 class="text-center text-dark shadow-lg"><strong>{{outfitName}}</strong></h1>
</section><img src="../assets/img/viruzz.jpg" style="width: 846px;" width="846" height="317">
    <div class="btn-group" role="group" style="font-size: 11PX;margin-top: 10PX;"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6"><p style="font-family: 'Abyssinica SIL', serif;"><br />{{{description}}}</p></div><div class="col-md-6">
    <p style="font-family: 'Abyssinica SIL', serif;"><br />Owner: <a href="/users/{{owner}}">{{owner}}</a> {{/outfit}}</p>
</div>
        </div>
    </div><p>Prendas:<p>
<div class="row user-list"> {{#garments}}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 user-item">
        <div class="user-container"><a class="user-avatar" href="/garments/{{id}}"><img class="rounded-circle img-fluid" src="../assets/img/prenda.jpg" width="48" height="48"/></a>
            <p class="user-name"><a href="/garments/{{id}}" >{{garmentName}}</a><span>{{type}}</span></p><a class="user-delete" href="/outfits/{{idOutfit}}/quitGarment/{{id}}" onclick="return confirm('¿Seguro que quieres borrar?')"><i class="fa fa-minus"></i></a>
        </div>
    </div>{{/garments}}
</div>
    <div class="row">
        <div class="col"><div class="row">
    <div class="col-xl-1 offset-xl-1"><a class="btn btn-primary pull-right" role="button" href="/outfits/{{idOutfit}}/addGarment"><i class="fa fa-star"></i>Añadir</a></div>
</div></div>
    </div>
    <footer class="bg-primary-gradient"></footer>
    <ul class="list-group"></ul>
    <div class="w-100"></div>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/bold-and-bright.js"></script>
    <script src="../assets/js/button-materialize-materialize.min.js"></script>
    <script src="../assets/js/hour.js"></script>
</body>

</html>